:root {
  --pimary-tex-color: #757575;
  --accent-tex-color: #2196f3;
  --secondary-tex-color: #212121;
  --clear-white-text-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

/* палитра */
/* основной цвет фона   #ffffff */
/* дополнительный цвет фона     #F5F4FA */
/* цвет основного текста   #757575 */
/* цвет вторичного цвета     #212121  */
/* дополнительный  цвет текста     #FFFFFF  */
/* цвет акцента   #2196F3 */
/* цвет акцента главной  кнопки    #188CE8 */
/* цвет адреса   rgba(255, 255, 255, 0.6) */
/* цвет фона героя и футера #2F303A */
/* дополнительный цвет текста логотипа  #000000 */

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--pimary-tex-color);
  letter-spacing: 0.03em;
}
/* *********************style reset******************** */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* **************************************************** */
/* __________________________________________шапка сайта студии__________________________________________________________ */
.logo {
  font-family: raleway, sans-serif;
  color: var(--accent-tex-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: var(--clear-white-text-color);
}
/* ___________________________________________навигация___________________________________________________________ */
.site-nav .link {
  color: var(--secondary-tex-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link {
  color: var(--pimary-tex-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.adress-contacts .link:hover,
.adress-contacts .link:focus {
  color: #2196f3;
}
/* __________________________________ герой ______________________________________________________________ */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--clear-white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* _____________________________________основная информация страницы__________________________________________ */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  color: var(--pimary-tex-color);
  font-size: 16px;
  line-height: 1.87;
}
.section-title,
.advantage-title,
.team-title,
.project-title {
  color: var(--secondary-tex-color);
}
.our-team {
  background-color: #f5f4fa;
}
/* ____________________________________________подвал страницы_______________________________________________ */
.footer {
  background-color: #2f303a;
}
.adress {
  color: var(--clear-white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.adress-contacts .link {
  color: rgba(255, 255, 255, 0.6);
}
/* ____________________________________________BUTTONS_________________________________________________ */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--secondary-tex-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-tex-color);
  color: var(--clear-white-text-color);
}
.main.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-tex-color);
  color: var(--clear-white-text-color);
}
.main.button:hover,
.main.button:focus {
  background-color: #188ce8;
}
